[openvz]
name=OpenVZ addons
baseurl=https://download.openvz.org/virtuozzo/releases/openvz-7.0.11-235/x86_64/os/
enabled=1
gpgcheck=1
skip_if_unavailable=0
metadata_expire=6h
priority=90
includepkgs=libprl*
